/*Your Code Here*/

/*Write selector/rule property to add your border when
links in the navigation are in the hover or focus state.*/
nav a:hover, nav a:focus{
     border: dotted 2px #800080;
     text-align: right;
     /* desktop view >825px 
     padding: 35px 0px 35px 0px; */

}

/*Write selector/rule property to position the default position for the skip class element*/
.skip{
     margin-top: 65px;

}

/*Write selector/rule property to position the skip class element when it is in focus*/
.skip:focus{
     margin-bottom: 25px;
}
/*Write selector/rule property to style all elements when in focus*/

body:focus{
     border: dashed 5px #008000;
}

/*Write selector/rule property to style the container */
.main{
     display: grid;
     grid-template-columns: repeat(5, 1fr);
     grid-column: 1;
     gap: 13px;
}
.main:first-child{

}
/*Write selector/rule property to add the background image to the first div in the grid and place it in the grid. */

.overview{
     background-image: url("../images/header.jpg");
     width: 100%;
     height: 100%;
}
.overview h1{
     text-align: center;
     color: white;
}
.overview p{
     color: white;
     font-size: x-large;
}
/* Steps 6 and 7: Write the selector/rule properties to  place the next five elements in the next
 five rows in the grid. */
.accounts{
     grid-column: 2 /span 3;
     grid-row: 2;
     width: 100% ;
     height: 100%;
}
.accounts-image{
     max-height: 675px;
     width: 100% ;
     height: 100%;
     grid-row: 2;
}
.accounts text-block{
     border: 2 px solid black ;
}
.onlinebanking{
     grid-column: 3 /span 4;
     grid-row: 3;
     max-width: 100%;
}
.onlinebanking-image{
     max-height: 675px;
     max-width: 100%;
     grid-row: 3;
}
.security{
     grid-column: 4 /span 5;
     grid-row: 4;
}
.security-image{
     max-height: 675px;
     grid-row: 4;
}
.loans{
     grid-column: 5 /span 6;
     grid-row: 5;
}
.loans-image{
     max-height: 675px;
     grid-row: 5;

}
.contact{
     grid-column: 6 /span 7;
     grid-row: 6;
}
.contact-image{
    max-height: 675px;
    grid-row: 6; 
}
      /*This will be a lot of rules.... but be strategic and combine selectors*/


 /* Step 8: Write the selector/rule property to style the .text-block class. */
.text-block{
     text-align: center;
     vertical-align: auto;
}
.text-block ul{
     text-align: left;
}

/* Add your media query here */
@media screen and (min-width: 700px){
     nav{
          
     }

}

  /* Step 10: Write the selector/rule property to style the nav element */

 
  /* Step 11: Write the selector/rule property to update the .container class */


  /* Steps 12 - 15: Update the grid-column property of the grid's children (where-needed)*/



 /* Step 16:Write the selector/rule property to update the .text-block class */

