/*Your Code Here*/

/*Write selector/rule property to add your border when
links in the navigation are in the hover or focus state.*/

nav a:hover, nav a:focus, nav{
     border: dotted 2px #800080;
     text-align: right;
     list-style-type: none;
     margin: 0;
     padding: 0;
     overflow: hidden;
     background-color:gray;
     top: 0;
     display: inline-block; 
     text-decoration: none;
     position: fixed; 
     width: 100%;  
}    
     /* desktop view >825px 
     padding: 35px 0px 35px 0px; */

/*Write selector/rule property to position the default position for the skip class element*/
.skip a{
     margin-bottom: 65px;
     position: fixed;
     z-index: -1000;
}

/*Write selector/rule property to position the skip class element when it is in focus*/
.skip:focus{
     margin-bottom: 25px;
}
/*Write selector/rule property to style all elements when in focus*/

*:focus{
     border: dashed 5px #008000;
}

/*Write selector/rule property to style the container */
#main{
     display: grid;
     grid-template-columns: repeat(5, 1fr);
     gap: 13px;
}
/*Write selector/rule property to add the background image to the first div in the grid and place it in the grid. */

.container div:first-child {
     background-image: url("../images/header.jpg");
     grid-column: 1 / -1;
     background-repeat: no-repeat;
     
}

     /* width: 100%;
     height: 100%; */

.overview h1{
     text-align: center;
     color: white;
}
.overview p{
     color: white;
     font-size: x-large;
}
/* Steps 6 and 7: Write the selector/rule properties to  place the next five elements in the next
 five rows in the grid. */

.accounts,.onlinebanking, .security, .loans,.contact {
     grid-column: 2 /span 3;
     grid-row: 2;
     width: 100% ;
     height: 100%;
}
.accounts-image,.onlinebanking-image, .security-image, .loans-image, .contact-image{
     grid-column: 1 / -1;
     height: 675px;
     width: 100% ;
     height: 100%;
     grid-row: 2;
}
.accounts-image, .accounts{
     grid-row: 2;
}
.onlinebanking, .onlinebanking-image{
     grid-row: 3;
}
.security, .security-image{
     grid-row: 4;
}
.loans, .loans-image{
     grid-row: 5;
}
.contact, .contact-image{
     grid-row: 6;
}

      /*This will be a lot of rules.... but be strategic and combine selectors*/


 /* Step 8: Write the selector/rule property to style the .text-block class. */
text-block{
     display: grid;
     text-align: center;
     vertical-align: auto;
     border: 2 px solid black;
     place-items: center;
     text-align: center;
}
text-block ul{
     text-align: left;
}

/* Add your media query here */
@media screen and (min-width: 825px){

nav{
     text-align: right;  
     padding: 35px 0px 35px 0px
}
     


  /* Step 10: Write the selector/rule property to style the nav element */

 
  /* Step 11: Write the selector/rule property to update the .container class */
.container{
          display: grid;
          grid-template-columns: repeat(7, 1fr);
     }

  /* Steps 12 - 15: Update the grid-column property of the grid's children (where-needed)*/
 .accounts, .security, .contact{
     grid-column: 4 / span 3;
 }

.accounts-image, .security-image, .contact-image{
     grid-column: 1 / span 5;
}

.onlinebanking, .loans:{
     grid-column: 2 / span 3;
}

}
 /* Step 16:Write the selector/rule property to update the .text-block class */

